<div class="col-sm-12">
    <panel title="Armado nota de remision" color="box-{{color_elementos}}" processing="cargando">

        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tipo" data-toggle="tab" aria-expanded="true">1. Tipo</a></li>
                    <li class=""><a href="#cliente" data-toggle="tab" aria-expanded="false">2. Cliente</a></li>
                    <li class=""><a href="#productos" data-toggle="tab" aria-expanded="false">3. Agregar
                            productos</a></li>
                    <li class=""><a href="#descuento" data-toggle="tab" aria-expanded="false">Configurar
                            descuento (opcional)</a></li>
                    <li class=""><a href="#iva" data-toggle="tab" aria-expanded="false">Configurar IVA(opcional)</a>
                    </li>
                    <li class=""><a href="#prod_agregados" data-toggle="tab" aria-expanded="false">Productos
                            agregados</a>
                    </li>
                    <li class="pull-right">
                        <a href="" ng-click="" class="text-muted">
                            <i class="fa fa-print" title="Imprimir remision"></i>
                        </a>
                    </li>
                    <li class="pull-right"><a href="" ng-click="comenzar_remision()" class="text-muted"
                            title="Limpiar remision"><i class="fa fa-eraser"></i></a>
                    </li>
                    <li class="pull-right">
                        <a href="" ng-click="guardar_remision()" class="text-muted" title="Guardar remision"><i
                                class="fa fa-save"></i>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tipo">
                        <!--<select ng-model="remision.tipo_remision" ng-change="lista_clientes()"
                            class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1"
                            aria-hidden="true">
                            <option value="{{tipoRem.codigo}}" ng-repeat="tipoRem in datos_lista_tipo_rem">
                                {{tipoRem.descripcion}}
                            </option>
                        </select>-->
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <campo-texto-dir info="txtcodigoremision" on-click="abrir_catalogo_tipo_remision()"
                                    model="remision.tipo_remision">
                                </campo-texto-dir>
                            </div>
                            <div class="col-md-8 col-sm-6">
                                <campo-texto-dir info="txtdescremision" on-click="" model="remision.desc_tipo_remision">
                                </campo-texto-dir>
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="cliente">
                        <div class="row">
                            <div class="col-sm-6">
                                <campo-texto-dir info="txtcodigocliente" on-click="abrir_catalogo_clientes()"
                                    model="remision.cliente.codigo_cliente">
                                </campo-texto-dir>
                            </div>
                            <div class="col-sm-6">
                                <campo-texto-dir info="txtnombrecliente" on-click="" model="remision.cliente.nombre">
                                </campo-texto-dir>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <campo-texto-dir info="txtclientedireccion" on-click=""
                                    model="remision.cliente.direccion">
                                </campo-texto-dir>
                            </div>
                            <div class="col-sm-6">
                                <campo-texto-dir info="txtclientetelefono" on-click=""
                                    model="remision.cliente.telefono">
                                </campo-texto-dir>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-2">
                                <boton-dir info="boton_limpiar_cliente" on-click="limpiar_cliente()"></boton-dir>
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->

                    <div class="tab-pane" id="productos">
                        <div class="input-group input-group-lg">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-{{color_elementos}} dropdown-toggle"
                                    data-toggle="dropdown" aria-expanded="false">Accion
                                    <span class="fa fa-caret-down"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="" ng-click="busqueda_directa()">Buscar</a></li>
                                    <li><a href="" ng-click="abrir_catalogo()">Abrir catalogo</a></li>
                                </ul>
                            </div>
                            <!-- /btn-group -->
                            <input type="text" class="form-control" ng-model="remision.bus_directa"
                                focus-on-condition="foco_busqueda_directa">
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <strong>Codigo de producto:</strong>
                                {{remision.producto.codigo}}
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <strong>Codigo alternativo:</strong>
                                {{remision.producto.mostrarcodigo}}
                            </div>
                        </div>
                        <p></p>
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <strong>Descripcion:</strong>
                                {{remision.producto.descripcion}}
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <strong>Familia:</strong>
                                {{remision.producto.familia}}
                            </div>
                        </div>
                        <p></p>
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <strong>Tipo:</strong>
                                {{remision.producto.tipo}}
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <strong>Precio unitario:</strong>
                                {{remision.producto.precio | currency:'$':2}}
                            </div>
                        </div>
                        <p></p>
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <strong>Cantidad:</strong>
                                <input type="number" focus-on-condition="foco_cantidad" ng-model="remision.cantidad"
                                    min="1" step="1" class="form-control" placeholder="" id="cantidad"
                                    ng-change="calculo_importe_cantidad()">
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <label></label>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-{{color_elementos}} dropdown-toggle"
                                            data-toggle="dropdown" aria-expanded="false">Accion
                                            <span class="fa fa-caret-down"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><a href="" ng-click="calculo_precio_unitario_incremento()">Aplicar
                                                    incemento</a>
                                            </li>
                                            <li><a href="" ng-click="limpiar_incremento()">Anular incremento</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /btn-group -->
                                    <input type="text" class="form-control" ng-model="remision.incremento"
                                        placeholder="Ingrese % de incremento">
                                </div>
                            </div>
                        </div>
                        <p></p>
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <strong>Importe sin aumento:</strong>
                                <span class="badge bg-green">{{remision.importe_original | currency:'$':2}}</span>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <strong>Importe con aumento:</strong>
                                <span class="badge bg-green">{{remision.importe | currency:'$':2}}</span>
                            </div>
                        </div>
                        <p></p>
                        <div class="row">
                            <div class="col-sm-2">
                                <boton-dir info="boton_agregar" on-click="agregar_producto()"></boton-dir>
                            </div>
                            <div class="col-sm-2">
                                <boton-dir info="boton_limpiar_producto" on-click="limpiar_producto()"></boton-dir>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane" id="descuento">
                        <div class="input-group input-group-lg">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-{{color_elementos}} dropdown-toggle"
                                    data-toggle="dropdown" aria-expanded="false">Accion
                                    <span class="fa fa-caret-down"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="" ng-click="calcular_descuento()">Aplicar descuento</a></li>
                                    <li><a href="" ng-click="anular_descuento()">Anular descuento</a></li>
                                </ul>
                            </div>
                            <!-- /btn-group -->
                            <input type="text" class="form-control" ng-model="remision.porcentaje_descuento"
                                placeholder="Ingrese % descuento">
                        </div>
                    </div>
                    <div class="tab-pane" id="iva">
                        <div class="input-group input-group-lg">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-{{color_elementos}} dropdown-toggle"
                                    data-toggle="dropdown" aria-expanded="false">Accion
                                    <span class="fa fa-caret-down"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="" ng-click="calcular_iva()">Aplicar IVA</a></li>
                                    <li><a href="" ng-click="anular_iva()">Anular IVA</a></li>
                                </ul>
                            </div>
                            <!-- /btn-group -->
                            <input type="text" class="form-control" ng-model="remision.iva" disabled>
                        </div>
                    </div>
                    <div class="tab-pane" id="prod_agregados">

                        <tabla-dir info="lista_agregados" conf="tabla"></tabla-dir>
                    </div>

                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
    </panel>
</div>
<div class="col-sm-12">
    <panel title=" Totales" color="box-{{color_elementos}}" processing="cargando_guardar_remision">
        <div class="box-footer">
            <div class="row">
                <div class="col-sm-3 col-xs-6">
                    <div class="description-block border-right">
                        <!--<span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span>-->
                        <h2 class="description-header">{{remision.precio_minimo | currency:"$":2}}</h2>
                        <span class="description-text">PRECIO MINIMO DE VENTA</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 col-xs-6">
                    <div class="description-block border-right">
                        <!-- <span class="description-percentage text-yellow"><i class="fa fa-caret-left"></i> 0%</span>-->
                        <h2 class="description-header">{{remision.subtotal | currency:"$":2}}</h2>
                        <span class="description-text">SUBTOTAL</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 col-xs-6">
                    <div class="description-block border-right">
                        <!--<span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 20%</span>-->
                        <h2 class="description-header">{{remision.cantidad_iva | currency:"$":2}}</h2>
                        <span class="description-text">IVA</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 col-xs-6">
                    <div class="description-block">
                        <!--<span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 18%</span>-->
                        <h2 class="description-header">{{remision.total | currency:'$':2}}</h2>
                        <span class="description-text">TOTAL</span>
                    </div>
                    <!-- /.description-block -->
                </div>
            </div>
            <!-- /.row -->
        </div>
    </panel>
</div>