<h2>
    {{titulo}}
</h2>
<div class="col-sm-12">
    <panel title="Cabecera Remision" color="box-{{color_elementos}}" processing="cargando_cabecera">
        <div class="row">
            <div class="col-sm-12">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <small class="text-muted">ID remision</small>
                            <h5 class="mb-1">{{datos_cabecera.remision}}</h5>
                            <small class="text-muted">Tipo remision</small>
                            <h5 class="mb-1">{{datos_cabecera.codigo}}</h5>
                            <small class="text-muted">Fecha hora de creacion</small>
                            <h5 class="mb-1">{{datos_cabecera.fhcrea}}</h5>
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <small class="text-muted">Folio Cliente</small>
                            <h5 class="mb-1">{{datos_cabecera.foliocli}}</h5>
                            <small class="text-muted">Clave cliente</small>
                            <h5 class="mb-1">{{datos_cabecera.codigo_cliente}}</h5>
                            <small class="text-muted">Nombre cliente</small>
                            <h5 class="mb-1">{{datos_cabecera.nombre}}</h5>
                            <small class="text-muted">Direccion</small>
                            <h5 class="mb-1">{{datos_cabecera.direccion}}</h5>
                            <small class="text-muted">Telefono</small>
                            <h5 class="mb-1">{{datos_cabecera.telefono}}</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="box-footer">
            <div class="row">

                <!-- /.col -->
                <div class="col-sm-3 col-xs-6">
                    <div class="description-block border-right">
                        <!-- <span class="description-percentage text-yellow"><i class="fa fa-caret-left"></i> 0%</span>-->
                        <h2 class="description-header">{{datos_cabecera.subtotal | currency:"$":2}}</h2>
                        <span class="description-text">SUBTOTAL</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 col-xs-6">
                    <div class="description-block border-right">
                        <!--<span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 20%</span>-->
                        <h2 class="description-header">{{datos_cabecera.descuento | currency:"$":2}}</h2>
                        <span class="description-text">DESCUENTO</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 col-xs-6">
                    <div class="description-block">
                        <!--<span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 18%</span>-->
                        <h2 class="description-header">{{datos_cabecera.iva | currency:'$':2}}</h2>
                        <span class="description-text">IVA</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="description-block border-right">
                        <!--<span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span>-->
                        <h2 class="description-header">{{datos_cabecera.total | currency:"$":2}}</h2>
                        <span class="description-text">TOTAL</span>
                    </div>
                    <!-- /.description-block -->
                </div>
            </div>
            <!-- /.row -->
        </div>
        <button type="button" class="btn bg-navy margin"><i class="fa fa-print"></i>
            Imprimir
        </button>
    </panel>
</div>

<div class="col-md-12">
    <panel title="Lineas de remision" color="box-{{color_elementos}}" processing="cargando">
        <tabla-dir info="datos_lista" conf="tabla"></tabla-dir>
    </panel>
</div>