#vista.ng-enter {
    transition:0.5s linear all;
    opacity:0;
}
  
  /* The finishing CSS styles for the enter animation */
#vista.ng-enter.ng-enter-active {
    opacity:1;
}


.window {    
    background-color: rgb(243, 241, 241);
}