<button type='button' class='btn btn-{{boton.color}} btn-block btn-{{boton.tamano}}'  ng-click='click()' ng-disabled='boton.cargando_boton'>
    <i ng-class='(boton.cargando_boton == true) ? "fa fa-spin fa-refresh" : "fa {{boton.icono}}"' ></i>
    {{boton.texto}}
</button>



