<label>{{campoTexto.txt.label}}</label>
<div class="form-group has-feedback">
    <div ng-class='(campoTexto.boton.encendido == true) ? "input-group" : ""'>
        <input type="{{campoTexto.txt.password}}" class="form-control" placeholder="{{campoTexto.txt.placeholder}}"
            ng-model="model" ng-disabled="{{campoTexto.txt.disabled}}" focus-on-condition="{{campoTexto.txt.foco}}"
            my-enter="seleccionar()">
        <span
            ng-class='(campoTexto.boton.encendido == true) ? "input-group-btn" : "fa {{campoTexto.txt.icono}} form-control-feedback"'>
            <button ng-if="campoTexto.boton.encendido" type="button" class="btn btn-{{campoTexto.boton.color}} btn-flat"
                ng-click="click()">
                <i
                    ng-class='(campoTexto.boton.cargandoBoton == true) ? "fa fa-spin fa-refresh" : "fa {{campoTexto.boton.iconoBoton}}"'></i>
            </button>
        </span>
    </div>
</div>