<div class="box {{color}}">
    <div class="box-header">
        <h3 class="box-title">{{title}}</h3>        
        <div class="box-tools pull-right">
            <button type="button" ng-click="isCollapsed = !isCollapsed" class="btn btn-box-tool"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <div uib-collapse="isCollapsed" >
        <div class="box-body">
            <ng-transclude></ng-transclude>
        </div>
    </div>

    <!-- /.box-body -->
    <!-- Loading (remove the following to stop the loading)-->
    <div class="overlay" ng-if="processing">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <!-- end loading -->
</div>
