<div class="box-header with-border">
    <h3 class="box-title"></h3>

    <div class="box-tools pull-right">
        <div class="has-feedback">
            <input type="text" class="form-control input-sm" ng-change="rest_pagina_act()" ng-model="buscador"
                placeholder="Buscar">
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>
    </div>
    <!-- /.box-tools -->
</div>
<div class="mailbox-controls">

    <!-- Check all button -->
    <div class="btn-group">
        <button type="button" class="btn btn-success btn-sm" ng-click="exportarXL()"><i
                class="fa fa-download"></i></button>
    </div>
    <!-- /.btn-group -->

    <div class="pull-right">

        Pagina: {{pagina_act}}/{{(Math.ceil(sub_datos.length / 10))}}
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm" ng-click="regresar_pag()"><i
                    class="fa fa-chevron-left"></i></button>
            <button type="button" class="btn btn-default btn-sm" ng-click="avanzar_pag()"><i
                    class="fa fa-chevron-right"></i></button>
        </div>
        <!-- /.btn-group -->
    </div>
    <!-- /.pull-right -->
</div>
<div class="box-footer no-padding">
    <div ng-class="{'row visible-md visible-lg': campos.colapsarsiempre === false, 'row': campos.colapsarsiempre === true }"
        ng-repeat="registro in datos | limitTo: 1" ng-hide="campos.colapsarsiempre">
        <div ng-repeat="campo in campos.nocolapsado" class="col-md-{{campo.tamano}} col-lg-{{campo.tamano}}">
            <div>
                <strong>
                    {{campo.alias}}
                </strong>

            </div>
        </div>
    </div>
    <div class="list-group">
        <a href="" ng-click="seleccionar(registro, $index)"
            class="list-group-item list-group-item-action flex-column align-items-start"
            ng-repeat="registro in sub_datos = (datos | filter:buscador) | limitTo:10:((pagina_act-1)*10)">
            <!--<div ng-show="false">{{$index+1}}</div>-->
            <div ng-class="{'row d-flex w-100 justify-content-between visible-md visible-lg': campos.colapsarsiempre === false, 'row': campos.colapsarsiempre === true }"
                ng-hide="campos.colapsarsiempre">
                <div ng-repeat="campo in campos.nocolapsado" class="col-sm-{{campo.tamano}}">
                    <div>{{registro[campo.campo]}}</div>
                </div>

            </div>
            <div ng-class="{'row d-flex w-100 justify-content-between visible-xs visible-sm': campos.colapsarsiempre === false, 'row': campos.colapsarsiempre === true }"
                ng-repeat="(key, value) in campos.colapsado">
                <!--<div class="row visible-xs visible-sm" ng-repeat="(key, value) in campos.colapsado">    -->
                <div class="col-xs-10">
                    <h5 class="mb-1">{{registro[value]}}</h5>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="mailbox-controls">
    <!-- Check all button -->
    <div class="btn-group">
    </div>
    <!-- /.btn-group -->
    <div class="pull-right">
        Pagina: {{pagina_act}}/{{(Math.ceil(sub_datos.length / 10))}}
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm" ng-click="regresar_pag()"><i
                    class="fa fa-chevron-left"></i></button>
            <button type="button" class="btn btn-default btn-sm" ng-click="avanzar_pag()"><i
                    class="fa fa-chevron-right"></i></button>
        </div>
        <!-- /.btn-group -->
    </div>
    <!-- /.pull-right -->
</div>