<div class="col-sm-12">
        <panel title="Information View">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem beatae consequatur accusantium ut impedit corrupti, quam quia voluptatibus doloremque illum est dolorum. Quisquam aspernatur quo nam officiis odit exercitationem inventore!</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis commodi quas voluptate est libero veniam excepturi distinctio delectus, assumenda beatae, nisi tenetur, impedit aspernatur quaerat perspiciatis obcaecati ut facilis suscipit.</p>            
        </panel>

        <panel title="Information View 2" color="box-primary">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem beatae consequatur accusantium ut impedit corrupti, quam quia voluptatibus doloremque illum est dolorum. Quisquam aspernatur quo nam officiis odit exercitationem inventore!</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis commodi quas voluptate est libero veniam excepturi distinctio delectus, assumenda beatae, nisi tenetur, impedit aspernatur quaerat perspiciatis obcaecati ut facilis suscipit.</p>            
        </panel>
    
</div>

