<div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="pc.cancel()" aria-label="Close">
            <span aria-hidden="true">×</span></button>
            <h4 class="modal-title">{{pc.data.titulo}}</h4>
        </div>
        <div class="modal-body">
            <p>{{pc.data.mensaje}}</p>
        </div>
        <div class="modal-footer ">
            <button type="button" ng-click="pc.cancel()" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
            <button type="button" ng-click="pc.ok()" class="btn btn-primary">Aceptar</button>
        </div>
    </div>