<div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="pc.cancel()" aria-label="Close">
                <span aria-hidden="true">×</span></button>
            <h4 class="modal-title">{{pc.data.titulo}}</h4>
        </div>
        <div class='jumbotron text-center' ng-if='isRouteLoading'>
            <h1>{{loadingText}} <span><i class='fa fa-refresh fa-spin'></i></span></h1>
        </div>
        <div class="modal-body" ng-if='!isRouteLoading'>
            <tabla-dir info="datos_lista" conf="tabla"></tabla-dir>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="pc.cancel()" class="btn bg-navy margin"><i class="fa fa-close"></i>
            Cerrar
        </button>
    </div>
    </div>