<div class="col-md-12">
  <panel title="Panel de control" color="box-{{color_elementos}}" processing="cargando">
    <div class="col-md-{{tamano_totales}}">
      <panel title="Numero de remisiones" color="box-{{color_elementos}}" processing="cargando">
        <button type="button" ng-click="ampliar_grafica_totales()" ng-show="ampliar_totales"
          class="btn bg-navy margin btn-sm"><i class="fa fa-arrows-alt"></i>
        </button>
        <button type="button" ng-click="minimizar_grafica_totales()" ng-hide="ampliar_totales"
          class="btn bg-navy margin btn-sm"><i class="fa fa-caret-square-o-up"></i>
        </button>

        <button type="button" ng-click="ver_grafica_barras()" class="btn bg-navy margin btn-sm"
          ng-show="grafica_pastel"><i class="fa fa-area-chart"></i>
        </button>
        <button type="button" ng-click="ver_grafica_pastel()" class="btn bg-navy margin btn-sm"
          ng-hide="grafica_pastel"><i class="fa fa-pie-chart"></i>
        </button>
        <div>
          <canvas id="pieChart" class="chart chart-doughnut" chart-data="data" chart-labels="labels"
            ng-show="grafica_pastel" chart-options="options" chart-series="series">chart-series="series"
          </canvas>
          <canvas id="polar-area" class="chart chart-polar-area" chart-data="data" ng-hide="grafica_pastel"
            chart-labels="labels" chart-options="options">
          </canvas>
        </div>
        <ul class="nav nav-stacked">
          <li>
            <a href="">Total remisiones <span class="pull-right text-red"> {{total_remisiones}}</span></a>
          </li>
          <li><a href="" ng-repeat="elemento_totales in datos_cuenta_rem">{{elemento_totales.descripcion}}
              <span class="pull-right text-red"> {{elemento_totales.num_rem_tipo}}</span>
            </a>
          </li>
        </ul>
      </panel>
    </div>

    <div class="col-md-{{tamano_totales}}">
      <panel title="Numero de remisiones" color="box-{{color_elementos}}" processing="cargando">
        <button type="button" ng-click="ampliar_grafica_monetario()" ng-show="ampliar_monetario"
          class="btn bg-navy margin btn-sm"><i class="fa fa-arrows-alt"></i>
        </button>
        <button type="button" ng-click="minimizar_grafica_monetario()" ng-hide="ampliar_monetario"
          class="btn bg-navy margin btn-sm"><i class="fa fa-caret-square-o-up"></i>
        </button>

        <button type="button" ng-click="ver_grafica_barras_monetario()" class="btn bg-navy margin btn-sm"
          ng-show="grafica_pastel_monetario"><i class="fa fa-area-chart"></i>
        </button>
        <button type="button" ng-click="ver_grafica_pastel_monetario()" class="btn bg-navy margin btn-sm"
          ng-hide="grafica_pastel_monetario"><i class="fa fa-pie-chart"></i>
        </button>
        <div>
          <canvas id="pieChart" class="chart chart-doughnut" chart-data="data_por_mon" chart-labels="labels"
            ng-show="grafica_pastel_monetario" chart-options="options" chart-series="series">chart-series="series"
          </canvas>

          <canvas id="polar-area" class="chart chart-polar-area" chart-data="data_por_mon"
            ng-hide="grafica_pastel_monetario" chart-labels="labels" chart-options="options">
          </canvas>
        </div>
        <ul class="nav nav-stacked">
          <li>
            <a href="">Total monetario <span class="pull-right text-red"> $ {{sum_rem}}</span>
            </a>
          </li>
          <li><a href="" ng-repeat="elemento_totales in datos_cuenta_rem">{{elemento_totales.descripcion}}
              <span class="pull-right text-red"> $ {{elemento_totales.total_tipo}}</span>
            </a>
          </li>
        </ul>
      </panel>
    </div>
  </panel>
</div>




<div class="row">
  <div class="col-md-6">
    <div class="col-sm-12">
      <panel title="Top mas vendidos" color="box-{{color_elementos}}" processing="cargando">
        <ul class="nav nav-stacked">
          <li>
            <a href="" ng-repeat="elemento_top_mas in top_mas | limitTo: 3">

              <div class="row">
                <div class="col-sm-3">
                  Codigo: {{elemento_top_mas.codigo}}
                </div>
                <div class="col-sm-3">
                  Pzas vendidas: {{elemento_top_mas.pzasvendidas}}
                </div>
                <div class="col-sm-3">
                  Total: $ {{elemento_top_mas.total}}
                </div>
                <div class="col-sm-3">
                  Ventas: {{elemento_top_mas.ventas}}
                </div>
              </div>
            </a>
          </li>
        </ul>
      </panel>
    </div>
  </div>
  <div class="col-md-6">
    <div class="col-sm-12">
      <panel title="Top menos vendidos" color="box-{{color_elementos}}" processing="cargando">
        <ul class="nav nav-stacked">
          <li>
            <a href="" ng-repeat="elemento_top_menos in top_menos | limitTo: 3">

              <div class="row">
                <div class="col-sm-3">
                  Codigo: {{elemento_top_menos.codigo}}
                </div>
                <div class="col-sm-3">
                  Pzas vendidas: {{elemento_top_menos.pzasvendidas}}
                </div>
                <div class="col-sm-3">
                  Total: $ {{elemento_top_menos.total}}
                </div>
                <div class="col-sm-3">
                  Ventas: {{elemento_top_menos.ventas}}
                </div>
              </div>
            </a>
          </li>
        </ul>
      </panel>
    </div>
  </div>
</div>