<div class="col-md-12">
  <panel title="{{titulo}}" color="box-{{color_elementos}}" processing="cargando">
    <select ng-model="busqueda_grupo.tipo" ng-change="lista_clientes()"
      class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
      <option value="{{tipoRem.codigo}}" ng-repeat="tipoRem in datos_lista_tipo_rem">{{tipoRem.descripcion}}
      </option>
    </select>
    <p></p>
    <div class="row">
      <div class="col-sm-2">
        <boton-dir info="boton_buscar" on-click="buscar()"></boton-dir>
      </div>
      <div class="col-sm-2">
        <boton-dir info="boton_limpiar" on-click="limpiar()"></boton-dir>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-2"></div>
      <div class="col-sm-2"></div>
      <div class="col-sm-2"></div>
    </div>
</div>
</panel>
<div class="col-md-12">
  <panel title="Lista de remisiones" color="box-{{color_elementos}}" processing="cargando">
    <tabla-dir info="datos_busqueda" conf="tabla_busqueda"></tabla-dir>
  </panel>
</div>