<div class="col-md-12">
    <panel title="{{titulo}}" color="box-{{color_elementos}}" processing="cargando">

        <div class="col-md-12">
        
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#usuario" data-toggle="tab" aria-expanded="true">General</a></li>
                    <li class=""><a href="#rol" data-toggle="tab" aria-expanded="false">ROL</a></li>
                    <li class=""><a href="#contrasena" data-toggle="tab" aria-expanded="false">restablecer
                            contraseña</a></li>
                    <li class="pull-right"><a href="" ng-click="eliminar_usuario()" class="text-muted" title="eliminar"><i
                                class="fa fa-trash"></i></a></li>
                    <li class="pull-right"><a href="" ng-click="limpiar()" class="text-muted" title="Limpiar"><i
                                class="fa fa-eraser"></i></a></li>
                    <li class="pull-right"><a href="" ng-click="guardar()" class="text-muted" title="Guardar"><i
                                class="fa fa-save"></i></a></li>
                    <li class="pull-right"><a href="" ng-click="abrir_catalogo()" class="text-muted" title="Abrir catalogo"><i
                                class="fa fa-th-list"></i></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="usuario">
        
                        <div class="row">
                            <div class="col-sm-4">
                                <campo-texto-dir info="txtusuario" on-click="" model="usuario.usuario">
                                </campo-texto-dir>
                            </div>
                            <div class="col-sm-4">
                                <campo-texto-dir info="txtcontrasena" on-click="" model="usuario.contrasena">
                                </campo-texto-dir>
                            </div>
                            <div class="col-sm-4">
                                <campo-texto-dir info="txtnumempleado" on-click="" model="usuario.numempleado">
                                </campo-texto-dir>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <campo-texto-dir info="txtnombre" on-click="" model="usuario.nombre">
                                </campo-texto-dir>
                            </div>
                            <div class="col-sm-4">
                                <campo-texto-dir info="txtcorreo" on-click="" model="usuario.correo">
                                </campo-texto-dir>
                            </div>
                            <div class="col-sm-4">
                                <campo-texto-dir info="txtpuesto" on-click="abrir_catalogo_puestos()"
                                    model="usuario.puesto_desc">
                                </campo-texto-dir>
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="rol">
        
                        <campo-texto-dir info="txtrol" on-click="abrir_catalogo_roles()" model="usuario.rol.descripcion">
                        </campo-texto-dir>
                        <div class="row">
                            <div class="col-sm-3">
                                <boton-dir info="boton_asignar_rol" on-click="asignar_rol()"></boton-dir>
                            </div>
                        </div>
                        <tabla-dir info="lista_roles_usuario" conf="tabla"></tabla-dir>
        
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="contrasena">
                        <div class="row">
                            <div class="col-sm-6">
                                <campo-texto-dir info="txtnuevacontrasena" on-click="" model="usuario.nueva_contrasena">
                                </campo-texto-dir>
                            </div>
                            <div class="col-sm-6">
                                <campo-texto-dir info="txtconfirmarcontrasena" on-click="" model="usuario.conf_contrasena">
                                </campo-texto-dir>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <boton-dir info="boton_contrasena" on-click="guar_contrasena()"></boton-dir>
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
    </panel>
</div>