<div class="col-md-12">
    <panel title="{{titulo}}" color="box-{{color_elementos}}" processing="cargando">



        <div class="col-md-12">

            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#rol" data-toggle="tab" aria-expanded="true">1. ROL</a></li>
                    <li class=""><a href="#tipo_opcion" data-toggle="tab" aria-expanded="false">2. Tipo de opcion</a>
                    </li>
                    <li class="pull-right"><a href="" ng-click="eliminar_rol()" class="text-muted" title="Eliminar"><i
                                class="fa fa-trash"></i></a></li>
                    <li class="pull-right"><a href="" ng-click="limpiar()" class="text-muted" title="Limpiar"><i
                                class="fa fa-eraser"></i></a>
                    </li>
                    <li class="pull-right"><a href="" ng-click="guardar_rol()" class="text-muted" title="Guardar"><i
                                class="fa fa-save"></i></a>
                    </li>
                    <li class="pull-right"><a href="" ng-click="abrir_catalogo()" class="text-muted"
                            title="Abrir catalogo"><i class="fa fa-th-list"></i></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="rol">
                        <div class="row">
                            <div class="col-sm-6">
                                <campo-texto-dir info="txtrol" on-click="" model="rol.rol"></campo-texto-dir>
                            </div>
                            <div class="col-sm-6">
                                <campo-texto-dir info="txtdescripcion" on-click="" model="rol.descripcion">
                                </campo-texto-dir>
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tipo_opcion">
                        <campo-texto-dir info="txttipoopcion" on-click="abrir_catalogo_tipo_opciones()"
                            model="rol.tipo_opcion">
                        </campo-texto-dir>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
</div>
</panel>
</div>

<div class="col-md-6">
    <panel title="Opciones disponibles" color="box-{{color_elementos}}" processing="cargando_opciones_disp">
        <tabla-dir info="lista_opciones_disp" conf="tabla_opciones_disp"></tabla-dir>
    </panel>
</div>
<div class="col-md-6">
    <panel title="Opciones asignadas" color="box-{{color_elementos}}" processing="cargando_opciones_rol">
        <tabla-dir info="lista_opciones_por_rol" conf="tabla_opciones_rol"></tabla-dir>
    </panel>
</div>