<div class="col-sm-12">
    <panel title="Registro de actividad personal" color="box-{{color_elementos}}" processing="cargando">
        <ul class="nav nav-tabs">
            <li class="pull-right"><a href="" ng-click="limpiar()" class="text-muted" title="Limpiar"><i
                        class="fa fa-eraser"></i></a>
            </li>
            <li class="pull-right"><a href="" ng-click="guardar()" class="text-muted" title="Guardar"><i
                        class="fa fa-save"></i></a>
            </li>

        </ul>
        <div class="row">
            <div class="col-sm-6">
                <campo-texto-dir info="txtusuario" on-click="" model="actividad.usuario">
                </campo-texto-dir>

            </div>
            <div class="col-sm-6">
                <campo-texto-dir info="txtarea" on-click="abrir_catalogo_areas()" model="actividad.descarea">
                </campo-texto-dir>
            </div>
            <div class="col-sm-6">
                <campo-texto-dir info="txtactividad" on-click="abrir_catalogo_actividades()" model="actividad.desactividad">
                </campo-texto-dir>
            </div>
            <div class="col-sm-6">
                <campo-texto-dir info="txtarticulo" on-click="abrir_catalogo_articulos()" model="actividad.descarticulo">
                </campo-texto-dir>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <boton-dir info="boton_iniciar_actividad" on-click="guardar()"></boton-dir>
            </div>
            <div class="col-sm-2">
                <boton-dir info="boton_limpiar" on-click="guardar()"></boton-dir>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <boton-dir info="boton_play" on-click="guardar()"></boton-dir>
            </div>
            <div class="col-sm-2">
                <boton-dir info="boton_pausa" on-click="guardar()"></boton-dir>
            </div>
            <div class="col-sm-2">
                <boton-dir info="boton_finalizar" on-click="guardar()"></boton-dir>
            </div>
        </div>

    </panel>
</div>