<div class="box box-widget widget-user">
  <!-- Add the bg color to the header using any of the bg-* classes -->
  <div class="widget-user-header bg-gray" style="background: url('res/dist/img/inventory.png') center center;">
    <h1 class="widget-user-username" style="color:rgb(255, 255, 255)"><b>Dynamis WEB</b></h1>
    <h5 class="widget-user-desc" style="color:rgb(255, 255, 255)"><b></b></h5>
  </div>
  <div class="widget-user-image">
    <img class="img-circle" src="res/dist/img/keycircle612x612.jpg" alt="User Avatar">
  </div>
  <div class="box-footer">
    <div class="row">
      <div class="col-sm-12">
        <campo-texto-dir info="txtUser" on-click="" model="login.username"></campo-texto-dir>
        <campo-texto-dir info="txtcontrasena" on-click="" model="login.contrasena"></campo-texto-dir>
        <div class="row">
          <div class="col-xs-8">
          </div>
          <!-- /.col -->
          <div class="col-xs-4">
            <boton-dir info="botonlogin" on-click="pc.ok()"></boton-dir>
          </div>
          <!-- /.col -->
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
</div>