<div class="col-sm-12">
    <panel title="{{titulo}}" color="box-{{color_elementos}}" processing="cargando">
        <ul class="nav nav-tabs">
            <li class="pull-right "><a href="" ng-click="eliminar_cliente()" class="text-muted" title="Eliminar">
                    <i class="fa fa-trash"></i></a></li>
            <li class="pull-right"><a href="" ng-click="limpiar()" class="text-muted" title="Limpiar"><i class="fa fa-eraser"></i></a>
            </li>
            <li class="pull-right"><a href="" ng-click="guardar()" class="text-muted" title="Guardar"><i class="fa fa-save"></i></a>
            </li>
            <li class="pull-right"><a href="" ng-click="abrir_catalogo()" class="text-muted" title="Abrir catalogo"><i
                        class="fa fa-th-list"></i></a></li>
        </ul>
        <div class="row">
            <div class="col-sm-4">
                <label for="inputEmail3" class="col-sm-2 control-label">Codigo</label>
                <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched"
                    ng-disabled="mostrar_codigo" ng-model="cliente.codigo_cliente" ng-disabled="aparecer_boton"
                    aria-invalid="false" style="">
            </div>
            <div class="col-sm-4">
                <label for="inputEmail3" class="col-sm-2 control-label">Nombre</label>
                <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched"
                    ng-model="cliente.nombre" aria-invalid="false" style="">
            </div>
            <div class="col-sm-4">
                <label for="inputEmail3" class="col-sm-2 control-label">Telefono</label>
                <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched"
                    ng-model="cliente.telefono" aria-invalid="false" style="">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label for="inputEmail3" class="col-sm-12 control-label">Fecha creacion</label>
                <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched"
                    ng-model="cliente.fecha_creacion" aria-invalid="false" style="" disabled>
            </div>
            <div class="col-sm-4">
                <label for="inputEmail3" class="col-sm-12 control-label">Correo electronico</label>
                <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched"
                    ng-model="cliente.correo_electronico" aria-invalid="false" style="">
            </div>
            <div class="col-sm-4">
                <label for="inputEmail3" class="col-sm-2 control-label">Estado</label>
                <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched"
                    ng-model="cliente.estado" aria-invalid="false" style="">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <label for="inputEmail3" class="col-sm-2 control-label">Ciudad</label>
                <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched"
                    ng-model="cliente.ciudad" ng-disabled="aparecer_boton" aria-invalid="false" style="">
            </div>
            <div class="col-sm-4">
                <label for="inputEmail3" class="col-sm-12 control-label">Municipio/Delegacion</label>
                <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched"
                    ng-model="cliente.municipio_delegacion" aria-invalid="false" style="">
            </div>
            <div class="col-sm-4">
                <label for="inputEmail3" class="col-sm-2 control-label">Calle</label>
                <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched"
                    ng-model="cliente.calle" aria-invalid="false" style="">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <label for="inputEmail3" class="col-sm-12 control-label">Num. interior</label>
                <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched"
                    ng-model="cliente.num_interior" aria-invalid="false" style="">
            </div>
            <div class="col-sm-4">
                <label for="inputEmail3" class="col-sm-12 control-label">Codigo Postal</label>
                <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" ng-model="cliente.cp"
                    aria-invalid="false" style="">
            </div>
            <div class="col-sm-4">
                <label for="inputEmail3" class="col-sm-2 control-label">Contacto</label>
                <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched"
                    ng-model="cliente.nomcontacto" aria-invalid="false" style="">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <label for="inputEmail3" class="col-sm-12 control-label">Num. exterior</label>
                <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched"
                    ng-model="cliente.numexterior" aria-invalid="false" style="">
            </div>
            <div class="col-sm-4">
                <label for="inputEmail3" class="col-sm-12 control-label">Tipo cliente</label>
                <select ng-model="cliente.tipocliente" class="form-control select2 select2-hidden-accessible"
                    style="width: 100%;" tabindex="-1" aria-hidden="true">
                    <option value="{{tipoRem.codigo}}" ng-repeat="tipoRem in datos_lista_tipo_rem">
                        {{tipoRem.descripcion}}
                    </option>
                </select>
            </div>
            <div class="col-sm-4">
                <label for="inputEmail3" class="col-sm-2 control-label">Direccion</label>
                <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched"
                    ng-model="cliente.direccion" aria-invalid="false" style="">
            </div>
        </div>





    </panel>
</div>