<div class="col-sm-12">
    <panel title="Catalogo de codigos" color="box-{{color_elementos}}" processing="cargando">
        <div class="row">
            <div class="col-sm-4">
                <campo-texto-dir info="txtcodigo" on-click="" model="registro_catalogo.codigo">
                </campo-texto-dir>
            </div>
            <div class="col-sm-4">
                <campo-texto-dir info="txtdsc" on-click="" model="registro_catalogo.descripcion">
                </campo-texto-dir>
            </div>
            <div class="col-sm-4">
                <campo-texto-dir info="txtdsccorta" on-click="" model="registro_catalogo.desc_corta">
                </campo-texto-dir>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <campo-texto-dir info="txtgrp" on-click="" model="registro_catalogo.grp">
                </campo-texto-dir>
            </div>
            <div class="col-sm-4">
                <campo-texto-dir info="txtsubgrp" on-click="" model="registro_catalogo.subgrp">
                </campo-texto-dir>
            </div>
            <div class="col-sm-4">
                <campo-texto-dir info="txtorden" on-click="" model="registro_catalogo.orden">
                </campo-texto-dir>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <boton-dir info="boton_guardar" on-click="guardar()"></boton-dir>
            </div>

            <div class="col-sm-2">
                <boton-dir info="boton_limpiar" on-click="limpiar()"></boton-dir>
            </div>
            <div class="col-sm-2">
                <boton-dir info="boton_eliminar" on-click="eliminar()"></boton-dir>
            </div>
        </div>
    </panel>
</div>

<div class="col-md-12">
    <panel title="Lista de codigos" color="box-{{color_elementos}}" processing="cargando">
        <tabla-dir info="datos_lista" conf="tabla"></tabla-dir>
    </panel>
</div>