<div class="col-md-12">
    <panel title="{{titulo}}" color="box-{{color_elementos}}" processing="cargando">

        <div class="col-md-12">

            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#producto" data-toggle="tab" aria-expanded="true">Producto</a></li>
                    <li class=""><a href="#alterno" data-toggle="tab" aria-expanded="false">Codigo Alterno</a></li>
                    <li class=""><a href="#precios" data-toggle="tab" aria-expanded="false">Precios</a></li>
                    <li class="pull-right"><a href="" ng-click="eliminar_componente()" class="text-muted"
                            title="Eliminar"><i class="fa fa-trash"></i></a></li>
                    <li class="pull-right"><a href="" ng-click="limpiar()" class="text-muted" title="Limpiar"><i
                                class="fa fa-eraser"></i></a></li>
                    <li class="pull-right"><a href="" ng-click="abrir_catalogo()" class="text-muted"
                            title="Abrir catalogo"><i class="fa fa-th-list"></i></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="producto">
                        <div class="row">
                            <div class="col-sm-6">
                                <campo-texto-dir info="txtcodigo" on-click="generar_folio()" model="producto.codigo">
                                </campo-texto-dir>
                            </div>
                            <div class="col-sm-6">
                                <campo-texto-dir info="txtdescripcion" on-click="" model="producto.descripcion">
                                </campo-texto-dir>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <!--<div class="form-group">
                                    <label for="exampleInputEmail1">Familia</label>
                                    <select ng-model="producto.cvefamilia"
                                        class="form-control select2 select2-hidden-accessible" style="width: 100%;"
                                        tabindex="-1" aria-hidden="true">
                                        <option selected="selected">{{producto.familia}}</option>
                                        <option value="{{elemento_familias.codigo}}"
                                            ng-repeat="elemento_familias in lista_familias">
                                            {{elemento_familias.descripcion}}
                                        </option>
                                    </select>
                                </div>-->
                                <div class="row">
                                    <div class="col-md-4 col-sm-6">
                                        <campo-texto-dir info="txtcodigofamilia" on-click="abrir_catalogo_familia()"
                                            model="producto.cvefamilia">
                                        </campo-texto-dir>
                                    </div>
                                    <div class="col-md-8 col-sm-6">
                                        <campo-texto-dir info="txtdescfamilia" on-click="" model="producto.familia">
                                        </campo-texto-dir>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6">
                                        <campo-texto-dir info="txtcodigounidad" on-click="abrir_catalogo_unidad()"
                                            model="producto.cveunimedida">
                                        </campo-texto-dir>
                                    </div>
                                    <div class="col-md-8 col-sm-6">
                                        <campo-texto-dir info="txtdescunidad" on-click="" model="producto.unidad">
                                        </campo-texto-dir>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <boton-dir info="boton_guardar_producto" on-click="guardar()"></boton-dir>
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="alterno">
                        <div class="row">
                            <div class="col-sm-4">
                                <campo-texto-dir info="txtcodigoalterno" on-click="" model="producto.alterno.codigoalt">
                                </campo-texto-dir>
                            </div>
                            <div class="col-sm-4">

                                <div class="form-group">
                                    <label for="exampleInputEmail1">Tipo de codigo alterno</label>
                                    <select ng-model="producto.alterno.tipocodigoalt"
                                        class="form-control select2 select2-hidden-accessible" style="width: 100%;"
                                        tabindex="-1" aria-hidden="true">
                                        <option value="{{tipo_alterno.codigo}}"
                                            ng-repeat="tipo_alterno in lista_tipos_alt">
                                            {{tipo_alterno.descripcion}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Visualizar</label>
                                    <md-switch ng-model="producto.alterno.mostrar" aria-label="Switch 2"
                                        ng-true-value="'1'" ng-false-value="'0'" class="md-warn">
                                    </md-switch>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <boton-dir info="boton_guardar_alt" on-click="guardar_alt()"></boton-dir>
                            </div>
                            <div class="col-sm-2">
                                <boton-dir info="boton_limpiar_alt" on-click="limpiar_alt()"></boton-dir>
                            </div>
                        </div>
                        <p></p>
                        <tabla-dir info="datos_lista_alterno" conf="tabla_alterno"></tabla-dir>


                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="precios">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Tipo de precio</label>
                                    <select ng-model="producto.precios.tipoprecio"
                                        class="form-control select2 select2-hidden-accessible" style="width: 100%;"
                                        tabindex="-1" aria-hidden="true">
                                        <option selected="selected">{{producto.precios.descripcion}}</option>
                                        <option value="{{elemento_tipo_precio.codigo}}"
                                            ng-repeat="elemento_tipo_precio in lista_tipo_precio">
                                            {{elemento_tipo_precio.descripcion}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <campo-texto-dir info="txtprecio" on-click="" model="producto.precios.precio">
                                </campo-texto-dir>
                            </div>
                            <div class="col-sm-4">
                                <campo-texto-dir info="u_pza" on-click="" model="producto.precios.unixpza">
                                </campo-texto-dir>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-2">
                                <boton-dir info="boton_guardar_precio" on-click="guardar_precios()"></boton-dir>
                            </div>
                            <div class="col-sm-2">
                                <boton-dir info="boton_limpiar_precio" on-click="limpiar_precios()"></boton-dir>
                            </div>
                            <div class="col-sm-2">
                                <boton-dir info="boton_eliminar_precio" on-click="eliminar_precio()"></boton-dir>
                            </div>
                        </div>
                        <p></p>
                        <tabla-dir info="lista_precios" conf="tabla_precios"></tabla-dir>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="imagen">
                        <div class="col-md-6">
                            <!-- Box Comment -->
                            <div class="box box-widget">
                                <div class="box-header with-border">

                                    <button type="button" class="btn bg-orange margin" ngf-select ng-model="file"
                                        name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB"
                                        ngf-min-height="100">Seleccionar
                                        imagen</button>
                                    <button type="button" class="btn bg-navy margin"><i class="fa fa-save"></i>
                                        Guardar imagen
                                    </button>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <!--<img class="img-responsive pad"
                                        src="res/dist/img/componentes/{{producto.codigo}}.jpg" alt="Photo">-->
                                </div>
                                <!-- /.box-footer -->
                            </div>
                            <!-- /.box -->
                        </div>

                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- <div class="row">
            <div class="col-sm-1">
                <boton-dir info="boton_abrir_catalogo" on-click="abrir_catalogo()"></boton-dir>
            </div>
            <div class="col-sm-1">
                <boton-dir info="boton_limpiar_pantalla" on-click="limpiar()"></boton-dir>
            </div>
            <div class="col-sm-1">
                <boton-dir info="boton_eliminar_producto" on-click="eliminar_componente()"></boton-dir>
            </div>
        </div>-->
    </panel>
</div>