<div class="col-md-12">
    <panel title="{{titulo}}" color="box-{{color_elementos}}" processing="cargando">

        <div class="col-md-12">

            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#producto" data-toggle="tab" aria-expanded="true">Producto</a></li>
                    <li class=""><a href="#alterno" data-toggle="tab" aria-expanded="false">Codigo Alterno</a></li>
                    <li class=""><a href="#lineas_armado" data-toggle="tab" aria-expanded="false">Lineas armado</a></li>
                    <li class="pull-right"><a href="" ng-click="eliminar_armado()" class="text-muted" title="Eliminar armado"><i
                                class="fa fa-trash"></i></a></li>
                    <li class="pull-right"><a href="" ng-click="" class="text-muted" title="Imprimir armado"><i class="fa fa-print" ></i></a>
                    </li>
                    <li class="pull-right"><a href="" ng-click="limpiar()" class="text-muted" title="Limpiar pantalla"><i
                                class="fa fa-eraser"></i></a></li>
                    <li class="pull-right"><a href="" ng-click="abrir_catalogo()" class="text-muted" title="Abrir catalogo"><i
                                class="fa fa-th-list" ></i></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="producto">
                        <div class="row">
                            <div class="col-sm-6">
                                <campo-texto-dir info="txtcodigo" on-click="generar_folio()" model="producto.codigo">
                                </campo-texto-dir>
                            </div>
                            <div class="col-sm-6">
                                <campo-texto-dir info="txtdescripcion" on-click="" model="producto.descripcion">
                                </campo-texto-dir>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6">
                                        <campo-texto-dir info="txtcodigofamilia" on-click="abrir_catalogo_familia()"
                                            model="producto.cvefamilia">
                                        </campo-texto-dir>
                                    </div>
                                    <div class="col-md-8 col-sm-6">
                                        <campo-texto-dir info="txtdescfamilia" on-click="" model="producto.familia">
                                        </campo-texto-dir>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <campo-texto-dir info="txtgrp" on-click="" model="producto.grp">
                                </campo-texto-dir>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <campo-texto-dir info="txtsubgrp" on-click="" model="producto.subgrp">
                                </campo-texto-dir>
                            </div>
                            <div class="col-sm-6">
                                <campo-texto-dir info="txtcveunimedida" on-click="" model="producto.cveunimedida">
                                </campo-texto-dir>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <boton-dir info="boton_guardar_producto" on-click="guardar()"></boton-dir>
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="alterno">
                        <div class="row">
                            <div class="col-sm-4">
                                <campo-texto-dir info="txtcodigoalterno" on-click="" model="producto.alterno.codigoalt">
                                </campo-texto-dir>
                            </div>
                            <div class="col-sm-4">

                                <div class="form-group">
                                    <label for="exampleInputEmail1">Tipo de codigo alterno</label>
                                    <select ng-model="producto.alterno.tipocodigoalt"
                                        class="form-control select2 select2-hidden-accessible" style="width: 100%;"
                                        tabindex="-1" aria-hidden="true">
                                        <option value="{{tipo_alterno.codigo}}"
                                            ng-repeat="tipo_alterno in lista_tipos_alt">
                                            {{tipo_alterno.descripcion}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Visualizar</label>
                                    <md-switch ng-model="producto.alterno.mostrar" aria-label="Switch 2"
                                        ng-true-value="'1'" ng-false-value="'0'" class="md-warn">
                                    </md-switch>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <boton-dir info="boton_guardar_alt" on-click="guardar_alt()"></boton-dir>
                            </div>
                            <div class="col-sm-3">
                                <boton-dir info="boton_limpiar_alt" on-click="limpiar_alt()"></boton-dir>
                            </div>
                        </div>
                        <p></p>
                        <tabla-dir info="datos_lista_alterno" conf="tabla_alterno"></tabla-dir>


                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="lineas_armado">
                        <ul class="nav nav-tabs">
                            <li class="pull-left"><a href="" ng-click="abrir_catalogo_componentes()" class="text-muted" title="Abrir catalogo de componentes"><i
                                        class="fa fa-th-list"></i></a>
                            </li>
                            <li class="pull-left"><a href="" ng-click="guardar_componente()" class="text-muted" title="Guardar linea"><i
                                        class="fa fa-save"></i></a>
                            </li>
                            <li class="pull-left"><a href="" ng-click="limpiar_componente()" class="text-muted" title="Limpiar linea"><i
                                        class="fa fa-eraser"></i></a>
                            </li>
                            <li class="pull-left"><a href="" ng-click="eliminar_linea()" class="text-muted" title="Eliminar linea">
                                <i class="fa fa-trash text-red"></i></a>
                            </li>
                        </ul>

                        <!--<button type="button" ng-click="abrir_catalogo_componentes()" class="btn bg-navy margin"><i
                                class="fa fa-th-list"></i>
                            Ver componentes
                        </button>
                        <button type="button" ng-click="guardar_componente()" class="btn bg-orange margin"><i
                                class="fa fa-save"></i>
                            Guardar
                        </button>
                        <button type="button" ng-click="limpiar_componente()" class="btn bg-navy margin"><i
                                class="fa fa-eraser"></i>
                            Limpiar componente
                        </button>
                        <button type="button" ng-click="eliminar_linea()" class="btn bg-red margin"><i
                                class="fa fa-trash"></i>
                            Eliminar Linea
                        </button>-->

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Codigo</label>
                                    <input type="text" ng-model="componente.codigo" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Descripcion</label>
                                    <input type="text" ng-model="componente.descripcion" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Unidad de medida</label>
                                    <input type="text" ng-model="componente.unidad" class="form-control" disabled>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Piezas</label>
                                    <input type="text" ng-model="componente.piezas" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Adicional</label>
                                    <input type="text" ng-model="componente.adicional" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Largo</label>
                                    <input type="text" ng-model="componente.largo" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Ancho</label>
                                    <input type="text" ng-model="componente.ancho" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Gramos</label>
                                    <input type="text" ng-model="componente.gramos" class="form-control">
                                </div>
                            </div>
                        </div>

                        <tabla-dir info="datos_lista_lin_armado" conf="tabla_lineas"></tabla-dir>

                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="imagen">
                        <div class="col-md-6">
                            <!-- Box Comment -->
                            <div class="box box-widget">
                                <div class="box-header with-border">
                                    <button type="button" class="btn bg-orange margin" ngf-select ng-model="file"
                                        name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB"
                                        ngf-min-height="100">Seleccionar
                                        imagen</button>
                                    <button type="button" class="btn bg-navy margin"><i class="fa fa-save"></i>
                                        Guardar imagen
                                    </button>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <img class="img-responsive pad"
                                        src="res/dist/img/componentes/{{producto.codigo}}.jpg" alt="Photo">
                                </div>
                                <!-- /.box-footer -->
                            </div>
                            <!-- /.box -->
                        </div>

                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
    </panel>
</div>