<div class="col-sm-12">
    <panel title="{{titulo}}" color="box-{{color_elementos}}" processing="cargando">
        <ul class="nav nav-tabs">
            <li class="pull-right text-red"><a href="" ng-click="eliminar_familia()" class="text-muted" title="Eliminar"><i
                        class="fa fa-trash"></i></a></li>
            <li class="pull-right"><a href="" ng-click="limpiar()" class="text-muted" title="Limpiar"><i class="fa fa-eraser"></i></a>
            </li>
            <li class="pull-right"><a href="" ng-click="guardar()" class="text-muted" title="Guardar"><i class="fa fa-save"></i></a>
            </li>
            <li class="pull-right"><a href="" ng-click="abrir_catalogo()" class="text-muted" title="Abrir catalogo"><i
                        class="fa fa-th-list"></i></a></li>
        </ul>
        <md-radio-group ng-model="familia.subgrp" ng-click="asignar_valor()">
            <md-radio-button value="ARMADO">Armado </md-radio-button>
            <md-radio-button value="COMPONENTE">Componente</md-radio-button>
        </md-radio-group>
        <div class="row">
            <div class="col-sm-6">
                <campo-texto-dir info="txtcodigo" on-click="generar_folio()" model="familia.codigo">
                </campo-texto-dir>

            </div>
            <div class="col-sm-6">
                    <campo-texto-dir info="txtdescripcion" on-click="generar_folio()" model="familia.descripcion">
                        </campo-texto-dir>
            </div>
        </div>

    </panel>
</div>