<div class="col-sm-12">
    <panel title="{{titulo}}" color="box-{{color_elementos}}" processing="cargando">
        <ul class="nav nav-tabs">
            <li class="pull-right"><a href="" ng-click="limpiar()" class="text-muted" title="Limpiar"><i class="fa fa-eraser"></i></a>
            </li>
            <li class="pull-right"><a href="" ng-click="guardar()" class="text-muted" title="Guardar"><i class="fa fa-save"></i></a>
            </li>
        </ul>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-1">
                        <h1 class="text-orange">1.</h1>
                    </div>
                    <div class="col-sm-11">
                        <campo-texto-dir info="txtdescfamilia" on-click="abrir_catalogo_familia()" model="actualizacion.familia">
                        </campo-texto-dir>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-1">
                        <h1 class="text-orange">2.</h1>
                    </div>
                    <div class="col-sm-11">
                        <campo-texto-dir info="txttipoprecios" on-click="abrir_catalogo_tipo_precios()" model="actualizacion.tipopreciodesc">
                        </campo-texto-dir>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-1">
                        <h1 class="text-orange">3.</h1>
                    </div>
                    <div class="col-sm-11">
                        <md-radio-group ng-model="actualizacion.tipo_cambio" ng-click="icono()">
                            <md-radio-button value="POR">Cambio por porcentaje </md-radio-button>
                            <md-radio-button value="FIJO">Cambio precio fijo</md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-1">
                        <h1 class="text-orange">4.</h1>
                    </div>
                    <div class="col-sm-11">
                            <campo-texto-dir info="txtprecio" on-click="" model="actualizacion.precio">
                            </campo-texto-dir>
                    </div>
                </div>

            </div>
        </div>
    </panel>
</div>

<div class="col-md-12">
    <panel title="Componentes afectados" color="box-{{color_elementos}}" processing="cargando">
        <tabla-dir info="datos_lista" conf="tabla"></tabla-dir>
    </panel>
</div>