<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="pc.ok()" aria-label="Close">
            <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">{{pc.data.titulo}}</h4>
    </div>
    <div class="modal-body">
        <p>{{pc.data.mensaje}}</p>
        <div class="form-group">
            <label for="exampleInputEmail1">Nombre de archivo</label>
            <input type="text" ng-model="producto.descripcion"
                class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="exampleInputEmail1"
                aria-invalid="false">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="pc.cancel()" class="btn bg-red margin pull-left" data-dismiss="modal" ><i class="fa fa-times-circle"></i>
            Cancelar
        </button>
        <button type="button" ng-click="pc.ok()" class="btn bg-green margin"><i class="fa fa-play"></i>
            Empezar trace
        </button>
    </div>
</div>