<div class="col-md-12">
    <panel title="Registro de asistencia" color="box-{{color_elementos}}" processing="cargando">
        <campo-texto-dir info="txtregistro" on-click="" model="asistencia.num_empleado">
        </campo-texto-dir>
    </panel>
</div>
<div class="col-md-12">
    <panel title="Ultimo registro" color="box-{{color_elementos}}" processing="cargando">
       <div ng-class="{'callout callout-danger': movimiento_desc === 'Salida', 'callout callout-success': movimiento_desc === 'Entrada' }">
            <h2>{{movimiento_desc}}</h2>
        </div>
    </panel>
</div>

<div class="col-md-12">
    <panel title="Ultimos movimientos" color="box-{{color_elementos}}" processing="cargando_lista">
        <tabla-dir info="datos_lista" conf="tabla"></tabla-dir>
    </panel>
</div>